.app-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    background: #007298;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        background: #016486;
    }

    &__single-icon {
        padding: 12px 18px;
    }
}