<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input name="email" emailValidator type="text" id="email" placeholder="Input text" required ngModel
            #email="ngModel" />
          <div *ngIf="( loginForm.submitted || email.touched)">
            <span id="emailErrorMessage" class="text-danger" *ngIf="email.errors?.['required']">
              Email is required.
            </span>
            <span id="emailErrorMessage" class="text-danger" *ngIf="email.errors?.['emailInvalid']">
              Invalid email format.
            </span>
          </div>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" placeholder="Input text" required ngModel
            #password="ngModel" />
          <div *ngIf="( loginForm.submitted || password.touched)">
            <span id="passwordErrorMessage" class="text-danger" *ngIf="password.errors?.['required']">
              Password is required.
            </span>
            <span id="passwordErrorMessage" class="text-danger" *ngIf="password.errors?.['emailInvalid']">
              Invalid password format.
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button type="submit" [buttonNgClass]="'app-button__full-width'" buttonText="Login"></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may <a routerLink="/registration">Registration</a>
        </div>
      </div>
    </div>
  </form>
</div>
