<app-header>
  <div class="app-root__login-block">
    <p *ngIf="isLoggedIn">{{ userName }}</p>
    <app-button
      [buttonText]="isLoggedIn ? 'Logout' : 'Login'"
      (click)="toggleLogin()">
    </app-button>
  </div>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->


  <app-info>
    <app-button [buttonText]="'Add new course'"></app-button>
  </app-info>

  <app-course-info></app-course-info>

  <app-course-list [courses]="courses" [editable]="true" (showCourse)="handleShowCourse()"
    (editCourse)="handleEditCourse()" (deleteCourse)="handleDeleteCourse()">
  </app-course-list>


  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
